<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="about-text">
            <p> This weather forecast website used data from <a href="https://www.mapbox.com/">mapbox.com</a> and <a href="https://darksky.net"> darksky.net</a>. <p> Icons are made by <a href="https://www.flaticon.com/authors/linector" title="Linector"> Linector </a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p></p>
        </div>
        {{>footer}}
    </div>
</body>

</html>