* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

body {
    color: #333333;
    font-family: arial;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    margin: 150px 0px 100px 0px;
    text-align: center;
}

h1 {
    font-size: 65px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    font-size: 18px;
    margin-right: 16px;
}

.image {
    width: 500px;
}

.search-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-input {
    text-indent: 3%;
    font-size: 26px;
    color: white;
    width: 80%;
    height: 50px;
    border: none;
    background-color: rgb(167, 167, 167);
    border-radius: 25px;
    cursor: pointer;
    transition: all .2s;
    font-weight: 500;
    letter-spacing: 1px;
}

.search-input:focus, .search-input:hover{
    background-color: rgb(190, 190, 190);
}

.search-button {
    position: absolute;
    left: 85vw;
    top: 16%;
}

.search-button:focus, .search-button:active {
    outline: none;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 100px;
    padding: 16px 0;
}

/* Weather Page */
.current-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.text-container > h2 {
    margin-bottom: 5px;
}

.text-container > p {
    font-size: 18px;
    font-weight: 100;
}